.main_content {
    width: 600px;
    background: inherit;
    color: whitesmoke;
    float: center!important;
    justify-content: center;
    text-align: center;
    margin-left: 50%;
    margin-bottom: 200px;
}

.main_content h1 {
    font-size: 32px;
    font-family: Helvetica-Neue, Helvetica, Arial, sans-serif;
    font-weight: 300;
}

.main_content p {
    font-size: 20px;
    font-family: Helvetica-Neue, Helvetica, Arial, sans-serif;
    color: bisque;
}


@media screen and (min-width: 300px) and (max-width: 720px) {
    .main_content {
        width: 360px;
        padding: 10px;
        margin-left: 0px;
        margin-bottom: 100px;
    }
    .main_content h1 {
        font-size: 26px;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.85);
    }
    .main_content p {
        text-shadow: 2px 2px 3px solid black;
        font-size: 18px;
        color: rgba(0,0,0,0.85)
    }
}