.main_content {
    width: 600px;
    background: inherit;
    color: whitesmoke;
    float: center!important;
    justify-content: center;
    text-align: center;
    margin-left: 50%;
    margin-bottom: 200px;
}

.main_content h1 {
    font-size: 32px;
    font-family: Helvetica-Neue, Helvetica, Arial, sans-serif;
    font-weight: 300;
}

.main_content p {
    font-size: 20px;
    font-family: Helvetica-Neue, Helvetica, Arial, sans-serif;
    color: bisque;
}