/* Header */

* {
    box-sizing: border-box;
  }
  
  html, body {
    width: 100%;
  }
  
  body {
    overflow-x: hidden;
    width: 100%;
  }
  
  svg {
    width: 100%;
    height: auto;
  }

  
  #card1_bg-white, #card2_bg-white, #card3_bg-white, #card4_bg-white {
    -webkit-transform-origin: 2% 8%;
            transform-origin: 2% 8%;
    -webkit-transform-style: preserve-3D;
            transform-style: preserve-3D;
  }
  
  #card3_bg-white,
  #card4_bg-white,
  #card5_bg-white {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  
  #plane1 {
    -webkit-transform-origin: 620px 580px;
            transform-origin: 620px 580px;
  }
  
  #plane2 {
    -webkit-transform: scaleX(-1) translate(-1500px, -150px);
            transform: scaleX(-1) translate(-1500px, -150px);
    -webkit-transform-origin: 500px 650px;
            transform-origin: 500px 650px;
  }
  